

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	line-height: 1.6em;
}

body > section {
	clear: both; /*para mantenerlo uno a bajo del otro siempre*/
	padding: 50px 0;
}

h1, h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	color: #0c243d; /*optimizar*/
	text-transform: uppercase; /*optimizar*/
	font-weight: 700;
	font-size: 2.4em;
}

h2 {
	color: #0c243d;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4em;

}

h2.parallax {
	font-size: 3.6em;
	font-weight: 700;
	text-transform: none;
	color: #fff;
	text-shadow: 0px 7px 8px black;
}

.separador {
	width: 40px;
	height: 4px;
	display: block;
	margin: auto;
	background: #0c243d;
	margin-bottom: 30px;
}

.gris-background {
	background-color: #f5f5f5;
}

/*PRINCIPAL*/

section#principal {
	min-height: 700px;
	padding-top: 100px;
	/*http://colorzilla.com*/
	background: #1e3d5a;
	background: -moz-linear-gradient(top,  #1e3d5a 0%, #0c223b 100%);
	background: -webkit-linear-gradient(top,  #1e3d5a 0%,#0c223b 100%); 
	background: linear-gradient(to bottom,  #1e3d5a 0%,#0c223b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3d5a', endColorstr='#0c223b',GradientType=0 );
}

/*APP*/

section#app .social{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #123156;
	margin: auto;
	line-height: 180px;
}

/*CARACTERISTICAS*/

section#caracteristicas p {
	font-size: .9em;
	color: #858585;
}

section#caracteristicas .caracteristica {
	margin-bottom: 10px;
	clear: both;
}

section#caracteristicas .icono {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #123156;
	margin: auto;
	line-height: 140px;
	text-align: center;
}

/*PANTALLAS*/

div.modal-body {
	text-align: center;
}

div.modal-body img {
	max-height: 90vh;
}

/*PARALLAX*/

section#parallax {
	height: 500px;
	background-image: url(../img/ipadApp.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; /*cojera todo el ancho y alto de su contenedor
	
}
/*font-family: 'Roboto Condensed', sans-serif;*/










